.button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  transition: all ease 0.5s;
  margin: 3.2rem 0;
}

.button:hover {
  opacity: 0.5;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}
